<app-auth-layout>
  <div class='flex flex-col text-gray-500'>
    <div class='pt-10'>
      <div class='pb-5'>
        <h2 class='text-2xl font-semibold'>Sign up</h2>
        <p>Enter your details to create an account</p>
      </div>
      <form (ngSubmit)='Submit($event)' [formGroup]='form' class='flex flex-col space-y-8'>
        <ui-input-validation *ngIf='hasErrors()' [errors]='submitErrors'></ui-input-validation>
        <div class='w-full'>
          <ui-input-text formControlName='name' label='Name'></ui-input-text>
          <ui-input-error error='required' formControlName='name'>Your name is required</ui-input-error>
          <ui-input-error error='minlength' formControlName='name'>Minimum of 3 characters required</ui-input-error>
          <ui-input-error error='maxlength' formControlName='name'>Maximum of 60 characters required</ui-input-error>
        </div>
        <div class='w-full'>
          <ui-input-email autocomplete='new-email' formControlName='email'></ui-input-email>
          <ui-input-error error='required' formControlName='email'>Enter your email address</ui-input-error>
          <ui-input-error error='email' formControlName='email'>Enter a valid email address</ui-input-error>
        </div>
        <div class='w-full'>
          <ui-input-password [showStrength]='true' autocomplete='new-password'
                             formControlName='password'></ui-input-password>
          <ui-input-error error='required' formControlName='password'>Password is required</ui-input-error>
          <ui-input-error error='minlength' formControlName='password'>Minimum of 6 characters required</ui-input-error>
        </div>
        <div class='w-full'>
          <div class=''>
            <input
              class='bg-gray-100 rounded-md px-2 py-2'
              formControlName='acceptTerms'
              type='checkbox' /> I am 18 years of age or older and agree to the terms and conditions of this site
          </div>
          <ui-input-error error='required' formControlName='acceptTerms'>You must accept terms and conditions
          </ui-input-error>
        </div>
        <button
          [disabled]='formSubmitting'
          class='flex items-center justify-center px-4 py-4 font-medium text-center rounded-lg text-gray-50 focus:outline-none bg-gradient-to-r from-red-500 to-pink-400'>
          <span *ngIf='!formSubmitting'>Sign up</span>
          <span *ngIf='formSubmitting'>Signing up...</span>
        </button>
      </form>
    </div>
    <div class='flex items-center justify-center py-4 space-x-2 pt-10'>
      <p>Already a member?</p>
      <a [routerLink]="['../sign-in']" class='font-semibold'>Sign in</a>
    </div>
  </div>
</app-auth-layout>




