<form (ngSubmit)='Submit($event)' [formGroup]='form' class='flex flex-col space-y-8 pt-10'>
  <div>
    <h2 class='text-2xl font-semibold'>Sign up</h2>
    <p>Enter your details to create an account</p>
  </div>
  <ui-input-validation *ngIf='hasErrors()' [errors]='submitErrors'></ui-input-validation>
  <div class='w-full'>
    <ui-input-email autocomplete='new-email' formControlName='email'></ui-input-email>
    <ui-input-error error='required' formControlName='email'>Email is required</ui-input-error>
    <ui-input-error error='email' formControlName='email'>Enter a valid email address</ui-input-error>
    <ui-input-error error='unique' formControlName='email'>Email address already taken</ui-input-error>
    <span *ngIf="isValidating('email')" class='form-error'>Checking email address...</span>
  </div>
  <button
    [disabled]='formSubmitting'
    [ngClass]="{'loading': formSubmitting}"
    class='btn'>Continue
  </button>
  <p class='py-4'>Already a member? <a [routerLink]="['../sign-in']" class='font-semibold'>Sign In</a></p>
</form>
