<div class='section'>
  <div class='section-header'>
    <h1 class='px-5 py-5'>Password</h1>
  </div>
  <div class='section-body'>
    <form (ngSubmit)='Submit($event)' [formGroup]='form' class='flex flex-col px-4 py-4'>
      <ui-input-validation *ngIf='hasErrors()' [errors]='submitErrors'></ui-input-validation>
      <div class='flex flex-col space-y-2 py-4'>
        <div>
          <p class='text-sm'>Once the password is changed, login with your new password</p>
        </div>
        <div>
          <ui-input-password [showStrength]='true' autocomplete='new-password' formControlName='password'
                             label='New password'></ui-input-password>
          <ui-input-error error='required' formControlName='password'>Password is required</ui-input-error>
          <ui-input-error error='minlength' formControlName='password'>Minimum of 8 characters required</ui-input-error>
          <ui-input-error error='maxlength' formControlName='password'>Maximum of 30 characters required
          </ui-input-error>
        </div>
      </div>

      <div class='py-4 flex space-x-2'>
        <button [ngClass]="{'loading': formSubmitting}" class='btn'>Save Changes</button>
        <button (click)='Cancel()' class='btn btn-ghost' type='reset'>Cancel</button>
      </div>
    </form>
  </div>
</div>


