<div class='flex flex-col items-center text-gray-500 h-full'>
  <div class='pt-10 text-center'>
    <h2 class='text-2xl font-semibold'>Welcome to Hello!</h2>
    <p class='py-2'>We hope you will like the service</p>
  </div>
  <div class='grow flex flex-col items-center'>
    <div class='pr-6'>
      <img alt='verify email' class='h-40 w-40' src='../../../../../assets/imgs/welcome.png'>
    </div>
    <p><span class='font-semibold'>NB:</span> Stay safe and don't just
      share your information with about anyone on this site, use public spaces when meeting dates and always
      practise safe sex. Report accounts that break the sites terms of use.</p>
  </div>

  <div class='flex justify-center'>
    <button (click)='onSaved.emit()' class='button-primary'>
      <span>Go to Home</span>
    </button>
  </div>
</div>
