<div class='section'>
  <div class='section-header'>
    <h1 class='px-5 py-5'>Sexuality</h1>
  </div>
  <div class='section-body'>
    <form (ngSubmit)='Submit($event)' [formGroup]='form' class='flex flex-col px-4 py-4'>
      <ui-input-validation *ngIf='hasErrors()' [errors]='submitErrors'></ui-input-validation>
      <div class='flex flex-col space-y-2 py-4'>
        <div>
          <p class='text-sm'>You will be shown members with the same sexual preference</p>
        </div>
        <div>
          <nz-select class='w-full bg-gray-100 rounded-lg' formControlName='sexuality'
                     nzPlaceHolder='Select relationship'
                     nzSize='large'>
            <nz-option *ngFor='let item of sexuality$ | async' [nzLabel]='item.text'
                       [nzValue]='item.value'></nz-option>
          </nz-select>
          <ui-input-error error='required' formControlName='seeking_relationship'>Sexuality is required
          </ui-input-error>
        </div>
      </div>

      <div class='py-4 flex space-x-2'>
        <button [ngClass]="{'loading': formSubmitting}" class='btn'>Save Changes</button>
        <button (click)='Cancel()' class='btn btn-ghost' type='reset'>Cancel</button>
      </div>
    </form>
  </div>
</div>

