<form (ngSubmit)='Submit($event)' [formGroup]='form' class='flex flex-col px-4 py-4 border'>
  <div class='py-5 border-b flex items-center justify-between'>
    <div class='flex flex-col'>
      <span class='text-gray-800 font-medium'>Update your bio</span>
      <span class='text-xs text-gray-400'>Update your profile details</span>
    </div>
  </div>
  <ui-input-validation *ngIf='hasErrors()' [errors]='submitErrors'></ui-input-validation>
  <div class='py-4'>
    <h1>Confirm account deletion</h1>
    <p>
      We're sorry to see you go. Once you delete your account, all your data will be permanently deleted. Including your
      profile, photos, messages, posts, comments, and likes.
      This action is irreversible. Please type your 'DELETE' to confirm.
    </p>
  </div>

  <div class='py-4'>
    <ui-input-text formControlName='confirm'
                   label='type delete to confirm'></ui-input-text>
    <ui-input-error error='required' formControlName='password'>Please confirm your action</ui-input-error>
  </div>

  <div class='py-4 flex space-x-2'>
    <button [disabled]='formSubmitting' class='button-primary'>
      <span *ngIf='!formSubmitting'>Delete my account</span>
      <span *ngIf='formSubmitting'>Deleting...</span>
    </button>
    <a (click)='Cancel()' class='button-cancel'>
      <span>Cancel</span>
    </a>
  </div>
</form>

