<form [formGroup]="form" (ngSubmit)="Submit($event)" class='flex flex-col px-4 py-4 border'>
  <div class='flex items-center py-4'>
    <div class='w-2/5'>
      <h1 class='text-gray-900 font-medium'>Email Address</h1>
      <p class='text-gray-600'>Change your email address</p>
    </div>
    <div class='grow'>
      <div class="form-field w-full">
        <input formControlName="email" type="email" placeholder=" " />
        <label>New email</label>
      </div>
    </div>
  </div>
  <div class='py-4 flex justify-end
'>
    <a (click)='onClose.emit()' class='button-cancel'>
      <span>Cancel</span>
    </a>
    <button [disabled]="formSubmitting" class='button-primary'>
      <span *ngIf="!formSubmitting">Save Changes</span>
      <span *ngIf="formSubmitting">Updating...</span>
    </button>
  </div>
</form>
