<div class='section'>
  <div class='section-header'>
    <h1 class='px-5 py-5'>Location</h1>
  </div>
  <div class='section-body'>
    <form (ngSubmit)='Submit($event)' [formGroup]='form' class='flex flex-col px-4 py-4'>
      <ui-input-validation *ngIf='hasErrors()' [errors]='submitErrors'></ui-input-validation>
      <div class='flex flex-col space-y-2 py-4'>
        <div>
          <p class='text-sm'>Enter your area by name</p>
        </div>
        <div>
          <div class='mb-5'>
            <div class='form-field w-full'>
              <input #search (keydown.enter)='$event.preventDefault()' formControlName='search'
                     placeholder='Enter your area'
                     type='text' />
            </div>
            <ui-input-error error='required' formControlName='search'>Search location is required</ui-input-error>
          </div>
          <div *ngIf='mapsApiLoaded | async'>
            <google-map
              #myGoogleMap
              [center]='center'
              [options]='options'
              [zoom]='zoom'
              class='rounded-md h-full'
              width='100%'
            ></google-map>
          </div>
        </div>
      </div>

      <div class='py-4 flex space-x-2'>
        <button [ngClass]="{'loading': formSubmitting}" class='btn'>Save Changes</button>
        <button (click)='Cancel()' class='btn btn-ghost' type='reset'>Cancel</button>
      </div>
    </form>
  </div>
</div>










