<app-auth-layout>


  <ng-container *ngIf='!resetCompleted else completed'>
    <div class='flex flex-col text-gray-500'>
      <div class='pt-10'>
        <div class='pb-5'>
          <h2 class='text-2xl font-semibold'>Forgot password</h2>
          <p>Enter your details to continue</p>
        </div>
        <form (ngSubmit)='Submit($event)' [formGroup]='form' class='flex flex-col space-y-8'>
          <ui-input-validation *ngIf='hasErrors()' [errors]='submitErrors'></ui-input-validation>
          <div>
            <ui-input-email autocomplete='email' formControlName='email' label='Email'></ui-input-email>
            <ui-input-error error='required' formControlName='email'>Enter your email address</ui-input-error>
            <ui-input-error error='email' formControlName='email'>Enter a valid email address</ui-input-error>
          </div>
          <button
            [disabled]='formSubmitting'
            class='font-medium text-center rounded-lg text-gray-50 focus:outline-none bg-gradient-to-r from-red-500 to-pink-400'>
          <span class='flex items-center justify-center px-4 py-4 bg-transparent rounded-lg hover:bg-gray-400'>
            <span *ngIf='!formSubmitting'>Submit</span>
            <span *ngIf='formSubmitting'>Submitting...</span>
          </span>
          </button>
        </form>
      </div>
      <div class='text-center py-6'>
        <a (click)='goToLogin()' class='font-semibold'>Go to login</a>
      </div>
    </div>
  </ng-container>

  <ng-template #completed>
    <div class='flex flex-col text-gray-500'>
      <div class='pt-10'>
        <div class='pb-5'>
          <h2 class='text-2xl font-semibold'>Hooray!</h2>
          <p class='py-2'>We've sent your reset link to <span *ngIf='email' class='font-medium'>{{ email }}</span></p>
        </div>
        <div class='grow flex flex-col items-center'>
          <div class='pr-6'>
            <img alt='' class='h-40 w-40' src='../../../assets/imgs/please-verify-your-email.png'>
          </div>
        </div>
      </div>
      <div class='py-4 flex flex-col space-y-1'>
        <div class='flex items-center justify-center space-x-2 pt-10'>
          <p>Didn't receive an email?</p>
          <a (click)='onTryAgain()' class='font-semibold'>Try again</a>

        </div>
        <p class='text-xs'>Please check your spam folder as well if you can't see our email</p>
      </div>
    </div>
  </ng-template>
</app-auth-layout>
