<div #strength class='w-full py-1' id='strength'>
  <ul class='flex justify-evenly' id='strengthBar'>
    <li [style.background-color]='bar0' class='point w-full' title='Very Weak'></li>
    <li [style.background-color]='bar1' class='point w-full' title='Weak'></li>
    <li [style.background-color]='bar2' class='point w-full' title='Medium'></li>
    <li [style.background-color]='bar3' class='point w-full' title='Strong'></li>
    <li [style.background-color]='bar4' class='point w-full' title='Very Strong'></li>
  </ul>
</div>
