<div id="strength" #strength class="flex items-center justify-between w-full">
  <div class="flex items-center">
    <ul id="strengthBar">
      <li class="point" [style.background-color]="bar0" title="Very Weak"></li>
      <li class="point" [style.background-color]="bar1" title="Weak"></li>
      <li class="point" [style.background-color]="bar2" title="Medium"></li>
      <li class="point" [style.background-color]="bar3" title="Strong"></li>
      <li class="point" [style.background-color]="bar4" title="Very Strong"></li>
    </ul>
    <small class="ml-2">{{ label }}</small>
  </div>
</div>
