<form [formGroup]="form" (ngSubmit)="Submit($event)" class='flex flex-col px-5 py-5 rounded-md border'>
  <div class='flex py-4'>
    <div class='w-2/5'>
      <h1 class='text-gray-900 font-medium'>Password</h1>
      <p class='text-gray-600'>Change your account password</p>
    </div>
    <div class='grow flex flex-col space-y-3'>
      <div class="w-full">
        <div class="form-field">
          <input formControlName="newPassword" maxlength="254" type="password" autocomplete="new-password" placeholder=" " />
          <label>New Password</label>
        </div>
        <div *ngIf="controlErrors('newPassword'); else passwordStrength">
          <span *ngIf="hasError('newPassword', 'required')" class="form-error">Password is required</span>
          <span *ngIf="hasError('newPassword', 'minlength')" class="form-error">Minimum of 8 characters required</span>
        </div>
        <ng-template #passwordStrength>
          <app-ui-password-strength [password]="form.get('newPassword')?.value"></app-ui-password-strength>
        </ng-template>
      </div>
      <div class="w-full">
        <div class="form-field">
          <input formControlName="confirmPassword" maxlength="254" type="password" autocomplete="new-password" placeholder=" " />
          <label>Confirm Password</label>
        </div>
        <span *ngIf="hasError('confirmPassword', 'required')" class="form-error">Password is required</span>
        <span *ngIf="hasError('confirmPassword', 'match')" class="form-error">Passwords don't match</span>
      </div>
    </div>
  </div>
  <div class='py-4 flex justify-end
'>
    <a (click)='onClose.emit()' class='button-cancel'>
      <span>Cancel</span>
    </a>
    <button [disabled]="formSubmitting" class='button-primary'>
      <span *ngIf="!formSubmitting">Save Changes</span>
      <span *ngIf="formSubmitting">Updating...</span>
    </button>
  </div>
</form>
