<app-auth-layout>
  <form (ngSubmit)='Submit($event)' [formGroup]='form' class='flex flex-col space-y-8 py-10'>
    <div>
      <h2 class='text-2xl font-semibold'>Sign in</h2>
      <p>Enter your details to continue</p>
    </div>
    <ui-input-validation *ngIf='hasErrors()' [errors]='submitErrors'></ui-input-validation>
    <div>
      <ui-input-email autocomplete='email' formControlName='email' label='Email'></ui-input-email>
      <ui-input-error error='required' formControlName='email'>Enter your email address</ui-input-error>
      <ui-input-error error='email' formControlName='email'>Enter a valid email address</ui-input-error>
    </div>
    <div>
      <ui-input-password autocomplete='password' formControlName='password'
                         label='Password'></ui-input-password>
      <ui-input-error error='required' formControlName='password'>Password is required</ui-input-error>

      <div class='text-right py-2'>
        <a [routerLink]="['../forgot-password']" class='text-sm text-gray-600'>Forgot password?</a>
      </div>
    </div>
    <button
      [disabled]='formSubmitting'
      [ngClass]="{'loading': formSubmitting}"
      class='btn'>Sign in
    </button>
    <p class='py-4'>Not a member yet? <a [routerLink]="['../sign-up']" class='font-semibold'>Sign Up</a></p>
  </form>
</app-auth-layout>

