<div class="flex items-center" [ngClass]="{'flex-row-reverse': isReverse }">
  <div class='px-2 grow' [ngClass]="{'text-left': isReverse, 'text-right': !isReverse }">
    <h5 class="text-sm text-gray-400 relative">Hello
      <span [ngClass]="{'right-0.5': isReverse, 'left-0.5': !isReverse }" class='absolute bg-green-50 px-1 text-green-600 dark:bg-gray-600 dark:text-green-500 text-xxs rounded'>Free</span> </h5>
    <h6 class="font-medium text-xs text-gray-800 dark:text-gray-200">{{ user?.displayName }}</h6>
  </div>
  <div class='flex-none'>
    <img [alt]="'Avatar of ' + user?.displayName" class='w-10 h-10 rounded-md' [src]="'assets/imgs/300-1.jpg'" />
  </div>
</div>
