<ng-container *ngIf='{ user: user$ | async, profile: profile$ | async } as data'>
  <div class='flex flex-col space-y-4'>
    <app-complete-profile-message></app-complete-profile-message>

    <div class='section'>
      <div class='section-header'>
        <h1 class='px-5 py-5'>Profile details</h1>
      </div>
      <div class='section-body'>
        <div class='block-links'>
          <app-block-link [link]="'./'">
            <div class='italic text-xs'>These values cannot be changed</div>
            <div>{{ getGender(data?.profile) }}{{', '}} {{ getAge(data?.profile?.date_of_birth) + ' years' }}</div>
          </app-block-link>

          <app-block-link [link]="'/profile/edit/name'" [title]="'Display Name'">
            {{ data?.user?.displayName || '...' }}
          </app-block-link>

          <app-block-link [link]="'/profile/edit/bio'" [title]="'Bio'">
            {{ data?.profile?.bio || '...' }}
          </app-block-link>

          <app-block-link [link]="'/profile/edit/location'" [title]="'Location'">
            {{ getLocation(data?.profile) }}
          </app-block-link>

          <app-block-link [link]="'/profile/edit/sexuality'" [title]="'Sexuality'">
            <div>{{ data?.profile?.sexuality || '...' }}</div>
          </app-block-link>

          <app-block-link [link]="'/profile/edit/preferences'" [title]="'Seeking'">
            <div class='flex space-x-2 flex-wrap'>
              <span *ngFor="let preference of data?.profile?.seeking_relationship?.split(',')"
                    class='badge'>
              {{ preference }}
            </span>
            </div>
          </app-block-link>
        </div>
      </div>
    </div>

    <div class='section'>
      <div class='section-header'>
        <h1 class='px-5 py-5'>My Photos</h1>
        <div class='px-5'>
          <a class='button-cancel'>Upload</a>
        </div>
      </div>
      <div class='section-body'>
        <div class='grid grid-cols-4 gap-2 px-4 mb-4'>
          <div *ngFor='let i of [1,2,3,4]'><img class='rounded-box' src='https://placeimg.com/250/180/arch' /></div>
        </div>
        <div class='block-links'>
          <app-block-link [link]="'../edit/account/email'" [title]="'All photos'">
            <p>Click here to view all uploaded photos</p>
          </app-block-link>
        </div>
      </div>
    </div>

    <div class='section'>
      <div class='section-header'>
        <h1 class='px-5 py-5'>Credits</h1>
      </div>
      <div class='section-body'>
        <div class='block-links'>

          <app-block-link [link]="'/profile/edit/relationship-preference'" [title]="'Available'">
            <div class='text-gray-600'>{{ 'You have 560 credits' }}</div>
          </app-block-link>

          <app-block-link [link]="'/profile/edit/relationship-preference'" [title]="'Purchases'">
            <div class='text-gray-600'>{{ '2K for R200 paid on 01/10/2022' }}</div>
          </app-block-link>
        </div>
      </div>
    </div>

    <div class='section'>
      <div class='section-header'>
        <h1 class='px-5 py-5'>Settings</h1>
      </div>
      <div class='section-body'>
        <div class='block-links'>

          <app-block-link [link]="'../edit/account/email'" [title]="'Email'">
            <div class='text-gray-600'>{{ data?.user?.email }}
              - <span
                class='badge badge-success'>{{ data?.user?.emailVerified ? 'Verified' : 'Verification required'}}</span>
            </div>
            <div class='text-gray-600'>
              {{ data?.user?.newEmail ? 'New: ' + data?.user?.newEmail : '' }}
            </div>
          </app-block-link>

          <app-block-link [link]="'../edit/account/password'" [title]="'Password'">
            <div class='text-gray-600'>{{ '********' }}</div>
          </app-block-link>

          <app-block-link [link]="'../edit/account/hide'" [title]="'Hide profile'">
            <div class='text-gray-600'>Your profile will not be visible to other members</div>
          </app-block-link>

          <app-block-link [link]="'../edit/account/delete'" [title]="'Delete profile'">
            <div class='text-gray-600'>{{ 'Delete your profile' }}</div>
          </app-block-link>

        </div>
      </div>
    </div>
  </div>

</ng-container>
