.animate-strike > * {
  position: relative;
  overflow: hidden;
}

.animate-strike > *::before {
  content: '';
  position: absolute;
  top: 50%;
  width: 50px;
  height: 150%;
  background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.6), transparent);
  transform: translateY(-50%) rotate(20deg);
  animation: strike 1000ms ease-in-out infinite;
}

@keyframes strike {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}
