@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply h-full bg-gray-50;
}

// Input forms
.form-field {
  @apply relative z-0 bg-gray-200 rounded-md w-full;
}

.form-field > input,
.form-field > textarea,
.form-field > select {
  @apply block px-3 py-3 w-full mt-0 bg-transparent rounded-md border-0 appearance-none focus:outline-none focus:ring-0 focus:ring-blue-100;
}

.form-field > label {
  @apply absolute px-3 text-gray-500 duration-300 top-2 -z-1 origin-0;
}

.form-error {
  @apply px-3 text-xs text-red-600;
}

.form-field > input:focus ~ label,
.form-field > input:not(:placeholder-shown) ~ label,
.form-field > textarea:focus ~ label,
.form-field > textarea:not(:placeholder-shown) ~ label,
.form-field > select:focus ~ label,
.form-field > select:not([value='']):valid ~ label {
  /* @apply transform; scale-75; -translate-y-6; */
  --tw-translate-x: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-scale-x: 0.75;
  --tw-scale-y: 0.75;
  --tw-translate-y: -1.6rem;
}

.form-field > input:focus ~ label,
.form-field > select:focus ~ label {
  /* @apply text-gray-800; left-0; */
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
  left: 0;
}

.section {
  @apply bg-white rounded-lg shadow-lg py-4;
}

.section-header {
  @apply flex items-center justify-between mb-4;
}

.section-header > h1 {
  @apply px-5 py-5 text-lg font-semibold;
}

.section-body {

}

.block-links {
  @apply flex flex-col;
}

.block-links > app-block-link {
  @apply border-b border-gray-200;
}

.block-links > app-block-link:last-child {
  @apply border-b-0;
}

.block-link {
  @apply flex items-center px-4 py-4 hover:text-gray-800 hover:bg-gray-100;
}

