<div class='section'>
  <div class='section-header'>
    <h1 class='px-5 py-5'>About me</h1>
  </div>
  <div class='section-body'>
    <form (ngSubmit)='Submit($event)' [formGroup]='form' class='flex flex-col px-4 py-4'>
      <ui-input-validation *ngIf='hasErrors()' [errors]='submitErrors'></ui-input-validation>
      <div class='flex flex-col space-y-2 py-4'>
        <div>
          <p class='text-sm'>Tell other members a little about yourself</p>
        </div>
        <div>
          <ui-input-text-area
            [cols]='50'
            [placeholder]="'Tell us about yourself'"
            [rows]='5'
            formControlName='bio'></ui-input-text-area>
          <ui-input-error error='required' formControlName='bio'>A little summary is required</ui-input-error>
        </div>
      </div>

      <div class='py-4 flex space-x-2'>
        <button [ngClass]="{'loading': formSubmitting}" class='btn'>Save Changes</button>
        <button (click)='Cancel()' class='btn btn-ghost' type='reset'>Cancel</button>
      </div>
    </form>
  </div>
</div>




